
    <nav class="navbar navbar-expand-lg navbar-light bg-light">    
        <div>
         <a class="navbar-brand" href="#">
           <img src="./assets/camera-reels-fill.svg" width="30" height="30" class="d-inline-block align-top" alt="">
           HD
         </a>   
       </div>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button> 
         <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
           <div class="navbar-nav " >
             <a class="nav-link active">Home <span class="sr-only">(current)</span></a>
             <a class="nav-link" routerLink="live-events">Up-coming</a>
             <a class="nav-link" routerLink="Video-List">Archival</a>
             <a class="nav-link" routerLink="enquiry">Contact Us</a>
           </div>
         </div>
       </nav>   
     