    <div class="container-fluid" >
        <div class="row">              
          <div class="col-md-8">          
                <div class="player-container">                    
                    <iframe class="embd-responsive iframe" src="https://www.youtube.com/embed/XRFscIs1P8Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="phote card shadow p-3 mb-5 bg-white rounded" >
                    <img src="assets/sita-ram-swayambar.jpg" class=""  alt="Marriage Phote">
                    <div>
                      <h2 class="names">Sitha</h2>
                      <p style="text-align: center;" >weds</p>
                      <h2 class="names" style="text-align:right ">Ram</h2>
                    </div>
                   <p>Muhurtham:</p>
                   <p style="text-align: center;">On 25/12/2022 wednesday at 02 am </p>
                   <p style="text-align: center;">Venue:<em><s> RaviendraBhararthi</s></em></p>                    
                  </div>
            </div>
        </div>
    </div>